@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<JN.Data.WalletLog>
@{ Html.RenderPartial("_WalletTable"); }
<div class="row">
    <div class="col-xs-8">
        @Ajax.Pager(Model, new Webdiyer.WebControls.Mvc.PagerOptions
   {
       PageIndexParameterName = "Wallet2001Page",
       FirstPageText = "<<",
       LastPageText = ">>",
       NextPageText = ">",
       PrevPageText = "<",
       ContainerTagName = "ul",
       NumericPagerItemCount = 5,
       CssClass = "pagination",
       CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"javascript:;\">{0}</a></li>",
       DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
       PagerItemTemplate = "<li>{0}</li>",
       PageIndexBoxId = "pageIndexBox1",
       GoToButtonId = "goToBtn1",
   },
              new MvcAjaxOptions { UpdateTargetId = "_Wallet2001", HttpMethod = "Post",  DataFormId = "_WalletForm2001" }).Options(o => o.AddRouteValue("target", "Wallet2001"))
    </div>
@if(Model.Count>0)
    {
    <div class="col-xs-4">
        <div class="input-group" style="margin:20px 10px">
            <span class="input-group-addon">转到第</span>
            <input type="text" id="pageIndexBox1" class="form-control input-sm" />
            <span class="input-group-addon">页</span>
            <span class="input-group-btn"><button class="btn btn-primary btn-sm" id="goToBtn1">跳转</button></span>
        </div>
    </div>
}
</div>
