@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="ie gt-ie8"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!-- <![endif]-->
<head>
    <title>系统错误</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <!-- Bootstrap -->
    <link href="/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/common/bootstrap/css/responsive.css" rel="stylesheet" />

    <!-- Glyphicons Font Icons -->
    <link href="/common/theme/css/glyphicons.css" rel="stylesheet" />

    <!-- Uniform Pretty Checkboxes -->
    <link href="/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />

    <!-- PrettyPhoto -->
    <link href="/common/theme/scripts/plugins/gallery/prettyphoto/css/prettyPhoto.css" rel="stylesheet" />

    <!-- Main Theme Stylesheet :: CSS -->
    <link href="/common/theme/css/style-dark.css?1369414385" rel="stylesheet" />


    <!-- LESS.js Library -->
    <script src="/common/theme/scripts/plugins/system/less.min.js"></script>
</head>
<body class="login">

    <!-- Wrapper -->
    <div id="login">

        <div class="container">

            <!-- Box -->
            <div class="hero-unit well">
                <h1>哎哟! <span>出错了</span></h1>
                <hr class="separator" />
                <!-- Row -->
                <div class="row-fluid row-merge">

                    <!-- Column -->
                    <div class="span6">
                        <div class="innerAll">
                            <p>很抱歉！没能找到你的商品。</p>
                        </div>
                    </div>
                    <!-- // Column END -->
                    <!-- Column -->
                    <div class="span6">
                        <div class="innerAll center">
                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="javascript:history.go(-1)" class="btn btn-icon-stacked btn-block btn-success glyphicons unshare"><i></i><span>返回</span><span class="strong">上一次页面</span></a>
                                </div>
                                <div class="span6">
                                    <a href="#" class="btn btn-icon-stacked btn-block btn-danger glyphicons edit"><i></i><span>把问题反馈给</span><span class="strong">系统管理员</span></a>

                                </div>
                            </div>
                            <br />
                        </div>
                    </div>

                    <!-- // Column END -->

                </div>
                <!-- // Row END -->

            </div>
            <!-- // Box END -->

        </div>

    </div>
    <!-- // Wrapper END -->
    <!-- JQuery -->
    <script src="/common/theme/scripts/plugins/system/jquery.min.js"></script>

    <!-- JQueryUI -->
    <script src="/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>

    <!-- JQueryUI Touch Punch -->
    <!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
    <script src="/common/theme/scripts/plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- Modernizr -->
    <script src="/common/theme/scripts/plugins/system/modernizr.js"></script>

    <!-- Bootstrap -->
    <script src="/common/bootstrap/js/bootstrap.min.js"></script>




</body>
</html>
