@{
    Layout = "~/Areas/AdminCenter/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<div id="content">
    <!-- Filters -->
    <div class="filter-bar dark margin-bottom-none border-none">
        <form>

            <!-- Search -->
            <div class="pull-left">
                <div class="input-append">
                    <input type="text" name="from" class="input-mini" style="width: 100px;" placeholder="Quick search .." />
                    <button type="submit" class="add-on glyphicons search"><i></i></button>
                </div>
            </div>
            <!-- // Search END -->
            <!-- Filters Visible on Desktop only -->
            <div class="helper visible-desktop pull-right">
                <div class="helper pull-right">

                    <!-- From Filter -->
                    <div class="pull-left">
                        <label>From:</label>
                        <div class="input-append">
                            <input type="text" name="from" id="dateRangeFrom" class="input-mini" value="08/05/13" style="width: 53px;" />
                            <span class="add-on glyphicons calendar"><i></i></span>
                        </div>
                    </div>
                    <!-- // From Filter END -->
                    <!-- To Filter -->
                    <div class="pull-left">
                        <label>To:</label>
                        <div class="input-append">
                            <input type="text" name="to" id="dateRangeTo" class="input-mini" value="08/18/13" style="width: 53px;" />
                            <span class="add-on glyphicons calendar"><i></i></span>
                        </div>
                    </div>
                    <!-- // To Filter END -->

                </div>
                <div class="clearfix"></div>
            </div>
            <!-- // Filters Visible on Desktop only END -->

        </form>
    </div>
    <!-- // Filters END -->

    <h3 class="heading-mosaic">Overview</h3>
    <div class="innerLR">

        <!-- Quick Tabs Widget -->
        <div class="widget widget-tabs widget-quick hidden-print">

            <!-- Tabs Widget Heading -->
            <div class="widget-head">
                <ul>
                    <li class="active"><a href="#quickIndexTab" data-toggle="tab" class="glyphicons user"><i></i>Profile</a></li>
                    <li><a href="#quickPhotosTab" data-toggle="tab" class="glyphicons camera"><i></i>Photos</a></li>
                    <li><a href="#quickFriendsTab" data-toggle="tab" class="glyphicons parents"><i></i>Friends</a></li>
                    <li><a href="#quickLocationTab" data-toggle="tab" class="glyphicons google_maps"><i></i>Location</a></li>
                    <li><a href="#quickOtherTab" data-toggle="tab" class="glyphicons retweet"><i></i>Other</a></li>
                </ul>
            </div>
            <!-- // Tabs Widget Heading END -->

            <div class="widget-body">
                <div class="tab-content">

                    <!-- Quick Index Tab -->
                    <div class="tab-pane active" id="quickIndexTab">
                        <div class="row-fluid">
                            <div class="span2 center">

                                <!-- Profile Photo -->
                                <a href="" class="thumb no-max"><img src="http://dummyimage.com/400x400/232323/ffffff&amp;text=photo" alt="Profile" /></a>
                                <div class="separator bottom"></div>
                                <!-- // Profile Photo END -->
                                <!-- Social Icons -->
                                <a href="" class="glyphicons standard primary facebook"><i></i></a>
                                <a href="" class="glyphicons standard twitter"><i></i></a>
                                <a href="" class="glyphicons standard linked_in"><i></i></a>
                                <!-- // Social Icons END -->

                            </div>
                            <div class="span6">

                                <!-- About -->
                                <h5>Mr.Awesome</h5>
                                <div class="menubar links primary">
                                    <ul>
                                        <li>Link widget:</li>
                                        <li><a href="">Button 1</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">Button 2</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">Button 3</a></li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus.</p>
                                <!-- // About END -->
                                <!-- Twitter Section -->
                                <h5 class="glyphicons single twitter"><i></i> Latest from Twitter</h5>
                                <section class="twitter-feed">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="tweet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc lorem, rutrum non porta. <span class="label label-inverse">01/11/2012</span></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </section>
                                <!-- Twitter Section END -->

                            </div>
                            <div class="span4">

                                <!-- Bio -->
                                <h5>Bio <span>Personal information</span></h5>
                                <div class="separator bottom"></div>
                                <ul class="unstyled icons">
                                    <li class="glyphicons birthday_cake"><i></i> <span class="label">10</span> <span class="label">July</span> <span class="label">1986</span></li>
                                    <li class="glyphicons tie"><i></i> Working at <a href="http://www.mosaicpro.biz">MosaicPro</a></li>
                                    <li class="glyphicons certificate"><i></i> Adobe Photoshop Certification</li>
                                    <li class="glyphicons microphone"><i></i> English :: French :: Italian :: Romanian :: Polish</li>
                                </ul>
                                <!-- // Bio END -->

                            </div>
                        </div>
                    </div>
                    <!-- // Quick Index Tab END -->
                    <!-- Quick Photos Tab -->
                    <div class="tab-pane" id="quickPhotosTab">

                        <!-- Tabs -->
                        <div class="tabsbar tabsbar-2">
                            <ul class="row-fluid row-merge">
                                <li class="glyphicons camera active span3"><a href="gallery_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-dark"><i></i> View all photos <strong>(43)</strong></a></li>
                                <li class="glyphicons folder_open span3"><a href="gallery_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-dark"><i></i> Albums <strong>(3)</strong></a></li>
                                <li class="glyphicons circle_plus span3"><a href="gallery_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-dark"><i></i> <span>Add Photos</span></a></li>
                                <li class="glyphicons folder_plus span3"><a href="gallery_1.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-dark"><i></i> <span>Create Album</span></a></li>
                            </ul>
                        </div>
                        <!-- // Tabs END -->
                        <!-- Gallery Layout -->
                        <div class="gallery gallery-2">
                            <ul class="row-fluid" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-4" data-delegate="#gallery-4">
                                <li class="span2"><a class="thumb" href="/common/theme/images/gallery-2/1.jpg" data-gallery="gallery"><img src="/common/theme/images/gallery-2/1.jpg" alt="photo" /></a></li>
                                <li class="span2"><a class="thumb" href="/common/theme/images/gallery-2/2.jpg" data-gallery="gallery"><img src="/common/theme/images/gallery-2/2.jpg" alt="photo" /></a></li>
                                <li class="span2"><a class="thumb" href="/common/theme/images/gallery-2/3.jpg" data-gallery="gallery"><img src="/common/theme/images/gallery-2/3.jpg" alt="photo" /></a></li>
                                <li class="span2 hidden-phone"><a class="thumb" href="/common/theme/images/gallery-2/4.jpg" data-gallery="gallery"><img src="/common/theme/images/gallery-2/4.jpg" alt="photo" /></a></li>
                                <li class="span2 hidden-phone"><a class="thumb" href="/common/theme/images/gallery-2/5.jpg" data-gallery="gallery"><img src="/common/theme/images/gallery-2/5.jpg" alt="photo" /></a></li>
                                <li class="span2 hidden-phone"><a class="thumb" href="/common/theme/images/gallery-2/6.jpg" data-gallery="gallery"><img src="/common/theme/images/gallery-2/6.jpg" alt="photo" /></a></li>
                            </ul>
                        </div>
                        <!-- // Gallery Layout END -->
                        <!-- Pagination -->
                        <div class="btn-group">
                            <a class="btn disabled btn-small btn-default glyphicons standard chevron-left"><i></i></a>
                            <a class="btn btn-small btn-default glyphicons standard chevron-right"><i></i></a>
                        </div>
                        <span class="innerLR">1-6 out of 43</span>
                        <!-- // Pagination END -->

                    </div>
                    <!-- // Quick Photos Tab END -->
                    <!-- Quick Friends Tab -->
                    <div class="tab-pane" id="quickFriendsTab">
                        <h5 class="margin-none">Just a tab</h5>
                        <p class="margin-bottom-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <!-- // Quick Friends Tab END -->
                    <!-- Quick Location Tab -->
                    <div class="tab-pane" id="quickLocationTab">
                        <h5 class="margin-none">Just a tab</h5>
                        <p class="margin-bottom-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <!-- // Quick Location Tab END -->
                    <!-- Quick Other Tab -->
                    <div class="tab-pane" id="quickOtherTab">
                        <h5 class="margin-none">Just a tab</h5>
                        <p class="margin-bottom-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <!-- // Quick Other Tab END -->

                </div>
                <div class="ribbon-wrapper"><div class="ribbon primary">profile</div></div>
            </div>
        </div>
        <!-- // Quick Tabs Widget END -->

    </div>

    <div class="innerLR">

        <!-- Stats Widgets -->
        <div class="row-fluid">
            <div class="span2">

                <!-- Stats Widget -->
                <a href="" class="widget-stats margin-bottom-none">
                    <span class="glyphicons shopping_cart"><i></i></span>
                    <span class="txt">Sales</span>
                    <div class="clearfix"></div>
                    <span class="count label label-important">20</span>
                </a>
                <!-- // Stats Widget END -->

            </div>
            <div class="span2">

                <!-- Stats Widget -->
                <a href="" class="widget-stats margin-bottom-none">
                    <span class="glyphicons shield"><i></i></span>
                    <span class="txt">Alerts</span>
                    <div class="clearfix"></div>
                    <span class="count label">25</span>
                </a>
                <!-- // Stats Widget END -->

            </div>
            <div class="span2">

                <!-- Stats Widget -->
                <a href="" class="widget-stats margin-bottom-none">
                    <span class="glyphicons user_add"><i></i></span>
                    <span class="txt">Clients</span>
                    <div class="clearfix"></div>
                    <span class="count label label-warning">33</span>
                </a>
                <!-- // Stats Widget END -->

            </div>
            <div class="span2">

                <!-- Stats Widget -->
                <a href="" class="widget-stats margin-bottom-none">
                    <span class="glyphicons envelope"><i></i></span>
                    <span class="txt">Messages</span>
                    <div class="clearfix"></div>
                    <span class="count label label-primary">265</span>
                </a>
                <!-- // Stats Widget END -->

            </div>
            <div class="span2">

                <!-- Stats Widget -->
                <a href="" class="widget-stats margin-bottom-none">
                    <span class="glyphicons fishes"><i></i></span>
                    <span class="txt">Fishes</span>
                    <div class="clearfix"></div>
                    <span class="count label label-important">13</span>
                </a>
                <!-- // Stats Widget END -->

            </div>
            <div class="span2">

                <!-- Stats Widget -->
                <a href="" class="widget-stats margin-bottom-none">
                    <span class="glyphicons coins"><i></i></span>
                    <span class="txt">Earnings</span>
                    <div class="clearfix"></div>
                    <span class="count label label-success">&euro;292,039.02</span>
                </a>
                <!-- // Stats Widget END -->

            </div>
        </div>
        <div class="separator bottom"></div>
        <!-- // Stats Widgets END -->

        <div class="row-fluid">
            <div class="span6">

                <!-- Activity/List Widget -->
                <div class="widget" data-toggle="collapse-widget">

                    <!-- Widget Heading -->
                    <div class="widget-head">
                        <h4 class="heading glyphicons history"><i></i>Activity</h4>
                        <a href="" class="details pull-right">view all</a>
                    </div>
                    <!-- // Widget Heading END -->

                    <div class="widget-body list">
                        <ul>

                            <!-- List item -->
                            <li>
                                <span>Sales today</span>
                                <span class="count">&euro;5,900</span>
                            </li>
                            <!-- // List item END -->
                            <!-- List item -->
                            <li>
                                <span>Some other stats</span>
                                <span class="count">36,900</span>
                            </li>
                            <!-- // List item END -->

                        </ul>
                    </div>
                </div>
                <!-- // Activity/List Widget END -->
                <!-- Latest Orders/List Widget -->
                <div class="widget margin-bottom-none" data-toggle="collapse-widget">

                    <!-- Widget Heading -->
                    <div class="widget-head">
                        <h4 class="heading">Last orders</h4>
                        <a href="" class="details pull-right">view all</a>
                    </div>
                    <!-- // Widget Heading -->

                    <div class="widget-body list products">
                        <ul>

                            <!-- List item -->
                            <li>
                                <span class="img">photo</span>
                                <span class="title">10 items<br /><strong>&euro;5,900.00</strong></span>
                                <span class="count"></span>
                            </li>
                            <!-- // List item END -->
                            <!-- List item -->
                            <li>
                                <span class="img">photo</span>
                                <span class="title">Product name<br /><strong>&euro;2,900</strong></span>
                                <span class="count"></span>
                            </li>
                            <!-- // List item END -->

                        </ul>
                    </div>
                </div>
                <!-- // Latest Orders/List Widget END -->

            </div>
            <div class="span6">

                <!-- Comments Widget -->
                <div class="widget widget-scroll margin-bottom-none" data-scroll-height="223px" data-toggle="collapse-widget">

                    <!-- Widget Heading -->
                    <div class="widget-head">
                        <h4 class="heading glyphicons conversation"><i></i>Comments</h4>
                    </div>
                    <!-- // Widget Heading END -->

                    <div class="widget-body">
                        <div>

                            <!-- Media item -->
                            <div class="media">
                                <img class="media-object pull-left thumb" src="http://dummyimage.com/51x51/232323/ffffff&amp;text=photo" alt="">
                                <div class="media-body">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae accumsan mauris. Donec vitae nibh felis, facilisis bibendum sapien. Duis a odio id erat scelerisque fermentum in ut leo. Suspendisse potenti. Nunc semper cursus dui luctus porttitor. Donec facilisis semper magna sit amet ullamcorper. Cras rutrum magna eget risus vulputate congue. Sed sem libero, dignissim sit amet viverra vitae, suscipit sit amet elit. Integer tincidunt risus in metus rhoncus molestie.</p>
                                        <small><a href="#" title="">John Doe</a><cite> | client @@ Famous Company</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- // Media item END -->
                            <!-- Media item -->
                            <div class="media">
                                <img class="media-object pull-right thumb" src="http://dummyimage.com/51x51/232323/ffffff&amp;text=photo" alt="">
                                <div class="media-body">
                                    <blockquote class="pull-right">
                                        <p>In ultricies ante eget tortor euismod vitae molestie eros hendrerit. Cras tristique, orci ac lacinia aliquet, velit risus laoreet lectus, eget sollicitudin metus orci non nulla. Pellentesque ac turpis turpis. Aliquam erat volutpat. Proin semper auctor mauris vel tempor. Ut eget turpis neque. Nam ultricies tortor eu odio ultricies euismod. Nulla rhoncus iaculis felis vulputate euismod. Maecenas sapien arcu, gravida eu tincidunt vel, ultricies ullamcorper neque.</p>
                                        <small><a href="#" title="">John Doe</a><cite> | client @@ Famous Company</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- // Media item END -->

                        </div>
                    </div>
                </div>
                <!-- // Comments Widget END -->

            </div>
        </div>
        <div class="separator bottom"></div>

        <!-- Website Traffic Chart -->
        <div class="widget" data-toggle="collapse-widget">
            <div class="widget-head">
                <h4 class="heading glyphicons cardio"><i></i>Website Traffic</h4>
            </div>
            <div class="widget-body">
                <div id="chart_ordered_bars" style="height: 250px;"></div>
            </div>
        </div>
        <!-- // Website Traffic Chart END -->
        <!-- Button Widget -->
        <div class="menubar">
            <ul>
                <li>Button widget:</li>
                <li><a href="">Button 1</a></li>
                <li class="divider"></li>
                <li><a href="">Button 2</a></li>
                <li class="divider"></li>
                <li><a href="">Export</a></li>
            </ul>
        </div>
        <div class="separator bottom"></div>
        <!-- // Button Widget END -->

        <div class="row-fluid">
            <div class="span6">

                <!-- Stats/List/Sparklines Widget -->
                <div class="widget" data-toggle="collapse-widget">

                    <!-- Widget Heading -->
                    <div class="widget-head">
                        <h4 class="heading glyphicons stats"><i></i>Overview</h4>
                    </div>
                    <!-- // Widget Heading END -->

                    <div class="widget-body list">
                        <ul>

                            <!-- List item -->
                            <li>
                                <span class="count">350,254 <span class="sparkline"></span></span>
                                Visits
                            </li>
                            <!-- // List item END -->
                            <!-- List item -->
                            <li>
                                <span class="count">120,103 <span class="sparkline"></span></span>
                                Visitors
                            </li>
                            <!-- // List item END -->
                            <!-- List item -->
                            <li>
                                <span class="count">5,156,392 <span class="sparkline"></span></span>
                                Pageviews
                            </li>
                            <!-- // List item END -->

                        </ul>
                    </div>
                </div>
                <!-- Stats/List/Sparklines Widget END -->
                <!-- Stats/List/Sparklines Widget -->
                <div class="widget" data-toggle="collapse-widget">

                    <!-- Widget Heading -->
                    <div class="widget-head">
                        <h4 class="heading glyphicons heart"><i></i>Interest</h4>
                    </div>
                    <!-- // Widget Heading END -->

                    <div class="widget-body list">
                        <ul>

                            <!-- List item -->
                            <li>
                                <span class="count">00:01:59 <span class="sparkline"></span></span>
                                avg.time
                            </li>
                            <!-- // List item END -->
                            <!-- List item -->
                            <li>
                                <span class="count">48% <span class="sparkline"></span></span>
                                returning
                            </li>
                            <!-- // List item END -->

                        </ul>
                    </div>
                </div>
                <!-- // Stats/List/Sparklines Widget END -->

            </div>
            <div class="span6">

                <!-- Traffic Sources Pie Chart -->
                <div class="widget" data-toggle="collapse-widget">
                    <div class="widget-head">
                        <h4 class="heading glyphicons pie_chart"><i></i>Traffic sources</h4>
                    </div>
                    <div class="widget-body">
                        <div id="pie" style="height: 221px;"></div>
                    </div>
                </div>
                <!-- // Traffic Sources Pie Chart END -->

            </div>
        </div>

    </div>

</div>
<!-- // Content END -->
