@{
    Layout = "~/Areas/UserCenter/Views/Shared/_LoginLayout.cshtml";
}
<section class="flat-account background" style="margin-bottom:5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="form-login" style="height:auto">
                    <div class="title">
                        <h3>用户注册</h3>
                    </div>
                    <form id="form-reg">
                        <div class="form-box">
                            <label for="name-login">用户名 * <span id="umsg" style="color:red"></span></label>
                            <input type="text" id="name-login" name="username" placeholder="请输入用户名" />
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <label for="password-login">密码 * <span id="pmsg" style="color:red"></span> </label>
                            <input type="password" id="password" name="password" placeholder="请输入密码" />
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <label for="password-login">确认密码 * <span id="psmsg" style="color:red"></span> </label>
                            <input type="password" id="surepassword" name="surepassword" placeholder="再次输入密码" />
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <label for="password-login">二级密码 * <span id="p2msg" style="color:red"></span> </label>
                            <input type="password" id="password2" name="password2" placeholder="请输入二级密码" />
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <label for="password-login">确认二级密码 * <span id="p2smsg" style="color:red"></span> </label>
                            <input type="password" id="surepassword2" name="surepassword2" placeholder="再次输入二级密码" />
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <label for="password-login">验证码 * <span id="codemsg" style="color:red"></span> </label><br />
                            <input type="text" id="code" name="code" placeholder="请输入验证码" style="width:280px;display:inline " /><label for="password-login">验证码 : <img id="imgCode" src="/UserCenter/Login/GetCodeImage?id=1" onclick="ChangeCheckCode();return false;" style="border:none; height:32px;display:inline" /> <span id="vcode" style="color:red"></span> </label>
                        </div><!-- /.form-box -->
                        <div class="form-box">
                            <button id="frmreg" class="login">注册</button>
                        </div><!-- /.form-box -->
                    </form><!-- /#form-login -->
                </div><!-- /.form-login -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-account -->
<script src="~/js/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/js/jquery.form.js"></script>
<script type="text/javascript">
        function ChangeCheckCode() {
            var oldUrl = $('#imgCode').attr("src");
            $('#imgCode').attr("src", oldUrl + '1');
        }
        jQuery(function ($) {
            $("#frmreg").click(function () {
                var username = $("input[name='username']").val();
                if (username == "") {
                    $("#umsg").text("请输入用户名");
                    $("input[name='username']").focus();
                    return false;
                }
                else {
                    $("#umsg").text("");
                }
                var pwd = $("input[name='password']").val();
                if (pwd == "") {
                    $("#pmsg").text("请输入密码");
                    $("input[name='password']").focus();
                    return false;
                }
                else {
                    $("#pmsg").text("");
                }
                var spwd = $("input[name='surepassword']").val();
                if (spwd == "") {
                    $("#psmsg").text("请输入确认密码");
                    $("input[name='surepassword']").focus();
                    return false;
                }
                else {
                    $("#psmsg").text("");
                }
                var pwd2 = $("input[name='password2']").val();
                if (pwd2 == "") {
                    $("#p2msg").text("请输入二级密码");
                    $("input[name='password2']").focus();
                    return false;
                }
                else {
                    $("#p2msg").text("");
                }
                var spwd2 = $("input[name='surepassword2']").val();
                if (spwd2 == "") {
                    $("#p2smsg").text("请输入二级确认密码");
                    $("input[name='surepassword2']").focus();
                    return false;
                }
                else {
                    $("#p2smsg").text("");
                }
                //验证码
                var code = $("input[name='code']").val();
                if (code == "") {
                    $("#codemsg").text("请输入验证码");
                    $("input[name='code']").focus();
                    return false;
                }
                else {
                    $("#codemsg").text("");
                }
                //密码与确认密码验证
                if (pwd != spwd) {
                    $("#psmsg").text("密码与确认密码不匹配");
                    $("input[name='password2']").focus();
                    return false;
                }

                if (pwd2 != spwd2) {
                    $("#psmsg").text("二级密码与确认二级密码不匹配");
                    $("input[name='surepassword2']").focus();
                    return false;
                }

                $("#form-reg").ajaxForm({
                    url: "@Url.Action("Index","reg")",
                    type: "post",
                success: function (data) {
                    if (data.Status == 200) {
                        swal({
                            title: "温馨提示",
                            text: "注册成功，即将为您跳转",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            closeOnConfirm: true
                        }, function () {
                            ChangeCheckCode();
                            location.href = "/UserCenter/Login";
                        });
                        //alert("注册成功，即将为您跳转！");
                        
                    } else {
                        swal({
                            title: "温馨提示",
                            text: data.Message,
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            closeOnConfirm: true
                        }, function () {
                            ChangeCheckCode();
                        });
                        //$("#umsg").text(data.Message);
                    }
                },
                error: function (error) {
                    alert("注册失败：" + data.Message);
                }
            });
            });
            //点击输入 清除提示
            $("input").click(function () {
                $(this).click(function () {
                    $(".form-box span").text("");
                });
            });
        });


</script>